<mat-card class="home mat-elevation-z5">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um cadastro em Angular, com CRUD e Json-Server.
    </mat-card-subtitle>
</mat-card>

<ul>
    <li><b>ANGULAR</b></li>
    <hr>
    <p>
        <strong><mark>Angular</mark></strong> é uma plataforma e framework para construção da interface de appcações usando HTML, CSS e,<br>
        principalmente, JavaScript, criada pelos desenvolvedores da Google. Ele possui alguns<br>
        elementos básicos que tornam essa construção interessante.
    </p>

</ul>

<ul>
    <li><b>CRUD</b></li>
    <hr>
    <p>
       Nesse projeto sistema <strong><mark>CRUD</mark></strong> foi implementado para as 4 operações de base de dados relacionais.
    </p>    
    <p>
        É um acrônimo para Create (criar), Read (ler), Update (atualizar) e Delete (apagar). <br>
        Esses termos descrevem as quatro operações básicas para criar e gerenciar elementos de dados persistentes, <br>
        especialmente em bancos de dados relacionais e NoSQL.
    </p>
</ul>

<ul>
    <li><b>JSON-SERVER</b></li>
    <hr>
    <p>
        API REST <strong><mark>Json-Server</mark></strong> para fazer
        as requisições do tipo GET, POST, PUT e DELETE.<br>
    </p>
    <p>
        Lembrando que JSON server é um
        aplicativo em NodeJS que serve como uma ferramenta <br> de apoio para o desenvolvimento
        de aplicações. O seu uso é mais comum para desenvolvimento<br> de front-end, em que o
        foco não é projetar uma API, mas, sim, a interação da <br> pessoa usuária com a aplicação.
    </p>
</ul>